.all {
    display: flex;
    flex-direction: row;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.pls {

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    width: inherit;
    align-items: center;

}

.container {
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
}

.board {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}

.candidate {
    display: block;
    width: 26em;
    height: 44em;
}

.pom {
    border-radius: 0 9em 0 0;
    width: inherit;
    height: 75%;
    margin-bottom: 0;

}


.candidate > div {
    width: inherit;
    height: 25%;
    background-color: gainsboro;
    border-radius: 0 0 0 6em;
    margin-top: 0;

}

.name {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    padding-top: 0.2em;
}

.info{
    margin: 0 1.6em;
    color: dimgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.4em;
}

.description {
    text-align: center;
    margin: 0 2.5em;
    color: rgba(31,29,30,0.89);
}

.tweet {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 4em;

}

.todobuttons {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom button {
    margin-left: 5em;
    margin-right: 5em;
}

.bottombuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: cornsilk;
    margin-bottom: 1em;
}

.bottombuttons button {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.rightColumn {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightColumn button {
    border: none;
    border-radius: unset;
    margin: 2em;
}

#center {
    align-items: center;
}

.twoForms {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-self: flex-end;



}

.you {
    display: flex;
    flex-direction: column;
    height: unset;
    width: unset;

}

textarea {
    min-height: 100px;
    min-width: 350px;
    max-width: 350px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(31,29,30,0.5);
    color: white;
}

.forms {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
}

form > input {
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    margin: 0 1em 0 1em;
    background: transparent;
    border-bottom: 2px solid gray;
    border-top: none;
    border-left: 2px solid gray;
    border-bottom-left-radius: 1em;
    border-right: none;
    height: 2.5em;

    /* font */
    color: gainsboro;
    font-size: 1em;
}

button.continue {
    align-self: center;
    margin: 0;
    border: 0.1em solid #665EFF;
    border-radius: 2em;
    color: lightgray ;
    background-color: transparent ;
    min-height: 2em;
    width: 12em;

    line-height: 0;
    font-size: 0.8em;
    margin-top: 1.5em;
    margin-bottom: 6em;
}

#right {
    display: flex;
    flex-direction: column;
}

.youInfo {
    margin-top: -3em;
    margin-bottom: 4em;
    color: #767676;
    font-size: 1.8em;

}

.col {
    text-align: center;
    text-justify: distribute;
    justify-content: flex-start;
    align-items: flex-start;

}

#logout {
    align-self: center;
}
